  .heard-details{
    display: flex;
    padding: 2rem;
  }
     
   .description-product{
    padding: 1rem 2rem;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 10px 10px 25px #bebebe,
                -10px -10px 25px #ffffff;
    flex-direction: column;
    
   }
   
   .body-details{
     padding: 1rem;
   }

   .description-adiconal{
    padding: 1rem;
   }
