.mothertile {
   width: 190px;
   height: 254px;
}

.tile {
   width: 190px;
   height: 254px;
   background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
   border-radius: 20px;
   transition: all .3s;
   align-items: center;
   justify-content: center;
  }
  
.tile2 {
   width: 190px;
   height: 254px;
   background-color: white;
   border-radius:20px;
   transition: all .2s;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
  
.tile2:hover {
   transform: scale(0.98);
   border-radius: 20px;
}
  
.tile:hover {
   box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.guitarimg {
   width: 100px;
}